body {
    background-color: rgb(27, 27, 27);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

#logo-netflix{
    width: 9%;
    height: auto;
    
}


header ul {
    margin-right: 20%;

}

header ul li {
    display: inline-block;
    margin: 20px;
}

li i{
    font-size: 25px;
}

main {
    background: url('img/wandinha.jpg') no-repeat; 
    background-size: cover;
    background-position: center;
    padding: 0px;
}

.sinopse {

    background-image: linear-gradient(to right,  rgb(27, 27, 27), rgb(20, 20, 20) , transparent );
    width: 420px;
    height: cover;
    border: none;
    flex-direction: column;
    justify-content: left;
    padding: 4%;
    margin: 0;
}

h1{
font-size: 40px;
}


p {
    max-width: 500px;
}

.botton {
    padding: 20px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 20px bold;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#bnt-maisInfo{
   background-color: gray;
    color: white;
    
}

.populares {
    display: flex;
}

h3{
    margin: 20px;
    font-size: 24px;
}

.catalogo ul{
    display: flex;
}
.catalogo ul li{
    padding: 10px;
    display: inline-block;
}

.catalogo ul li img{
    width: 300px;
    height: 160px;
}